.Background {
  min-height: 100vh;
  width: 100%;
  color: white;
  overflow: hidden;
  position: relative;
}

.Background__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  animation: fadein 1s;
}

.Background__container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.Background__container .Clock {
  position: absolute;
  bottom: 20px;
  left: 20px;
  animation: fadeinUp 1s;
}
